define host {
    host_name           {{ inventory_hostname }}
    address             {{ ansible_host }}
    check_command       check-ping
    active_checks_enabled   1
    passive_checks_enabled  1
    max_check_attempts  3
    check_interval      5
    retry_interval      1
    notification_interval   30
    notification_period     24x7
}

define service {
    service_description ntp_process
    host_name           {{ inventory_hostname }}
    check_command       check_ntp
    check_interval      10
    retry_interval      5
    max_check_attempts  3
    notification_interval   30
    notification_period     24x7
}
